<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
  <div class="container-fluid"><a class="navbar-brand" href="/top">&nbsp;じょぶちぇん！作戦ノート</a>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto justify-content-around">

      </ul>
    </div>
  </div>
</nav>