<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
  <div class="container-fluid"><a class="navbar-brand" href="/">&nbsp;じょぶちぇん！</a>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto justify-content-around">
        <li class="nav-item"><a class="nav-link active" style="color:#ffffff;" href="#"><i class="fa fa-home"></i>&nbsp;応募済み企業</a></li>
        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-wpexplorer"></i>&nbsp;選考状況</a></li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </div>
</nav>