<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>JobChange</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.min.css">
</head>

<body>
  
  <header>
    <%- include('./common/header') %>
  </header>

  <div class="container" style="padding: 0px;padding-top: 30px;">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 40%;">企業名</th>
            <th style="/*width: 20%;*/">選考状況</th>
          </tr>
        </thead>
        <tbody>
        <!-- 企業数分のループ -->
        <% if(comp_list){ %>
        <% for(var comp of comp_list){ %>  
          <tr>
            <td><a href="/company?id=<%=comp.id%>"><%= comp.c_name %></a></td>
            <td><%= comp.selection_status %> </td>
          </tr>
        <% } %> 
        <% } %>
        <!-- 企業数分のループ -->
        </tbody>
      </table>
    </div>
  </div>

  <script src="../javascripts/jquery.min.js"></script>
  <script src="../javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>